@charset "UTF-8";

$container-w:800px;//宽度
$logo-w:230px;//logo
$slider-h:286px;//slider
$featured-w:150px;//特色图

//页头
#header{
  position: relative;
  height: 195px;
}

//顶部工具条
.topbar{
  height: 45px;
  padding: 10px 0;

  .skin{
    a{
      display: inline-block;
      float: left;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      border-radius: 3px;
    }
  }

  .search{
    .search-form-input{
      border: none;
      height: 22px;
      padding: 0 10px;
      width: 160px;
      border-radius: 10px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }
  }

  .login{
      margin-left: 10px;
      a{
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        border-radius: 3px;
      }
  }
}

//头菜单
.topmenu{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 59px;
  .menu-list{
    position: relative;
    z-index: 3;
    padding: 25px 0 0 0;
    li{
      display: inline-block;
      width: ($container-w - $logo-w)/6;
      text-align: center;
      float: left;
      &:nth-child(4){
        margin-left: $logo-w;
      }
      a{
        font-size: 13px;
        text-shadow: 0px 1px 1px #000;
      }
    }
    .sub-menu{
      display: none;
    }
  }
}

//Logo
.logo{
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -($logo-w/2);
  top: 60px;
  text-align: center;
  a{
    display: inline-block;
    width: $logo-w;
    height: $logo-w;
  }
}

//主内容
#content{
  margin-top: 150px;
  .container{
    border-radius: 5px;
    padding: 8px;
  }
  .content-inner{
    border-radius: 3px;
  }
}

//分类菜单
.mianmenu{
  position: relative;
  height: 46px;
  margin: 15px -1px 0 -1px;
  .menu-wrapper{
    position: relative;
    &::before,&::after{
      position: absolute;
      content: '';
      top:20px;
      width: 6px;
      height: 7px;
    }
    &::before{
      left: 10px;
    }
    &::after{
      right: 10px;
    }
  }
  .menu-list{
    padding: 15px 5px 0;
    li{
      display: inline-block;
      float: left;
      width: 12.5%;
      text-align: center;
      a{
        display: inline-block;
        font-size: 13px;
        text-shadow: 0px 1px 1px #000;
      }
    }
    .sub-menu{
      display: none
    }
  }
  &::before,&::after{
    position: absolute;
    content: '';
    top:15px;
    width: 46px;
    height: 45px;
  }
  &::before{
    left: -46px;
  }
  &::after{
    right: -46px;
  }
}

//Slider
.app_slider {
    margin: 10px;
    border-radius: 3px;
    padding: 5px;
    .slider_inner{
      min-height: $slider-h;
      border-radius: 3px;
      overflow: hidden;
    }
}

//文章
.posts {
  margin: 10px;
  article{
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      height: 2px;
    }
  }
}

.post-date{
  position: absolute;
  width: 67px;
  height: 78px;
  left: -95px;
  text-align: center;
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
  }
  span{
    display: block;
  }
  .date-month{
    height: 25px;
    line-height: 27px;
    font-size: 15px;
  }
  .date-day{
    height: 25px;
    line-height: 26px;
    font-size: 30px;
    font-weight: bold;
  }
  .date-year{
    height: 25px;
    line-height: 22px;
    font-size: 13px;
  }
}

.post-title{
  min-height: 30px;
  margin-bottom: 10px;
  a{
    font-size: 22px;
  }
}

.post-wrap{
  .post-inner{
    margin-bottom: 15px;
    .post-left{
      position: relative;
      width: $featured-w;
      height: $featured-w;
    }

    .post-right {
      .post-content{
        font-size: 14px;
      }
    }
  }
}

.index-post{
  .post-right{
    padding-left: 10px;
  }
  .post-content{
    max-height: $featured-w;
    overflow: hidden;
  }
}

.post-featured{
  height: $featured-w;
  border-radius: 3px;
  padding: 5px;
  a{
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    img{

    }
  }
}

.post-sticky{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 75px;
}
