@charset "UTF-8";

$container-w:800px;//宽度
$logo-w:230px;//logo
$slider-h:286px;//slider
$featured-w:150px;//特色图
$sidebar-w:300px;//侧边栏
$footer-h:290px;//页脚

.container {
    width: $container-w;
    margin: 0 auto;
}

//页头
#header{
  position: relative;
  height: 195px;
}

//顶部工具条
.topbar{
  height: 45px;
  padding: 8px 0;

  .skin{
    a{
      display: inline-block;
      float: left;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border-radius: 3px;
    }
  }

  .search{
    .search-form-input{
      border: none;
      height: 24px;
      padding: 0 10px;
      width: 160px;
      border-radius: 10px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }
  }

  .login{
      margin-left: 10px;
      a{
        font-size: 14px;
      }
      .login-btn{
        display: inline-block;
        font-size: 18px;
        width: 24px;
        height: 24px;
        line-height: 26px;
        text-align: center;
      }
  }

  .admin-box{
    height: 24px;
    padding: 3px;
    border-radius: 3px;
    .avatar-box{
      img{
        float: left;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        border-radius: 3px;
      }
      span{
        float: left;
        height: 18px;
        line-height: 20px;
        font-size: 13px;
      }
    }
    .logout-btn{
      display: inline-block;
      font-size: 16px;
      height: 18px;
      line-height: 20px;
      text-align: center;
      padding-left:5px;
      margin-left: 5px;
    }
  }

}

//头菜单
.topmenu{
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 59px;
  .menu-list{
    position: relative;
    z-index: 3;
    padding: 25px 0 0 0;
    li{
      position: relative;
      display: inline-block;
      width: ($container-w - $logo-w)/6;
      text-align: center;
      float: left;
      &:nth-child(4),&.nth4{ //第四个hack
        margin-left: $logo-w;
      }
      a{
        font-size: 13px;
        text-shadow: 0px 1px 1px #000;
        .fa{
          margin-right: 5px;
        }
      }
      &::before{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: 1px;
        right: -8px;
      }
      &:nth-child(3)::before,&.nth3::before,&:last-child::before,&.nth6::before{ //第三个和最后一个hack
        display: none;
      }
    }
  }
}

//二级菜单
.menu-item-has-children{
    .sub-menu{
      display: none;
      position: absolute;
      z-index: 2;
      top: 40px;
      left: -26px;
      width: 150px;
      text-align: center;
    li{
      float: none !important;
      display: block !important;
      width: 100% !important;
      padding: 0 1px;
      a{
        display: block !important;
        width: 148px;
        padding: 7px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:first-child a{
        border-top: none;
      }
      &:last-child a{
        border-bottom: none;
      }
      &::before{
        display: none;
      }
    }
    &::before{
      position: absolute;
      top:-24px;
      left: 0;
      right: 0;
      content: '';
      width: 150px;
      height: 24px;
    }
    &::after{
      position: absolute;
      bottom:-24px;
      left: 0;
      right: 0;
      content: '';
      width: 150px;
      height: 24px;
    }
  }
  &:hover{
    .sub-menu{
      display: block;
    }
  }
}

//Logo
.logo{
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -($logo-w/2);
  top: 60px;
  text-align: center;
  a{
    display: inline-block;
    width: $logo-w;
    height: $logo-w;
  }
}

//主内容
#content{
  position: relative;
  z-index: 2;
  margin-top: 150px;
  .container{
    border-radius: 5px;
    padding: 8px;
  }
  .content-inner{
    position: relative;
    border-radius: 3px;
    padding-bottom: 30px;
  }
}

//分类菜单
.mianmenu{
  position: relative;
  height: 46px;
  margin: 15px -1px 30px -1px;
  .menu-wrapper{
    position: relative;
    &::before,&::after{
      position: absolute;
      content: '';
      top:20px;
      width: 6px;
      height: 7px;
    }
    &::before{
      left: 10px;
    }
    &::after{
      right: 10px;
    }
  }
  .menu-list{
    padding: 15px 5px 0;
    li{
      position: relative;
      display: inline-block;
      float: left;
      width: 12.5%;
      text-align: center;
      a{
        display: inline-block;
        font-size: 13px;
        text-shadow: 0px 1px 1px #000;
        .fa{
          margin-right: 5px;
        }
      }
    }
  }
  &::before,&::after{
    position: absolute;
    content: '';
    top:15px;
    width: 46px;
    height: 45px;
  }
  &::before{
    left: -46px;
  }
  &::after{
    right: -46px;
  }
}

//归档标题
.archive-title{
  text-align: center;
  .title-inner{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    &::before{
      position: absolute;
      content: '';
      height: 2px;
      width: 100px;
      top: 18px;
      left: -120px;
    }
    &::after{
      position: absolute;
      content: '';
      height: 2px;
      width: 100px;
      top: 18px;
      right: -120px;
    }
    .fa{
      margin-right: 5px;
    }
  }
}

//公告
.notice{
  position: fixed;
  z-index: 10;
  width: 340px;
  height: 90px;
  bottom: 100px;
  left: 50%;
  margin-left: -170px;
  background: #000;
  background: hsla(0,0%,7%,.85);
  box-shadow: 0 0 5px 0 hsla(0,0%,7%,.35);
  border-radius: 45px;
  visibility: visibility;
  opacity: 0;
  -webkit-transform:translateY(20px);
  transform:translateY(20px);
  -webkit-transition:all .6s ease;
  transition:all .6s ease;
  &.open{
    visibility: visible;
    opacity: 1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  .notice-img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 13px 0 0 13px;
    img{
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  .notice-txt{
    width: 220px;
    margin: 13px 0 0 13px;
  }
  .notice-close{
    position: absolute;
    cursor: pointer;
    top:35px;
    right: 12px;
    font-size: 14px;
    color: #fff;
    opacity: .7;
    &:hover{
      opacity: 1;
    }
  }
}

.notice-txt{
  .notice-title{
    color: #fff;
    font-size: 13px;
    margin: 0 0 3px 0;
  }
  .notice-content{
    color: #999;
    max-height: 50px;
    overflow: hidden;
  }
}

//Slider
.app_slider {
    margin: 0 10px 30px;
    border-radius: 3px;
    padding: 5px;
    .slider_inner{
      min-height: $slider-h;
      border-radius: 3px;
      overflow: hidden;
    }
}

//文章
.posts {
  margin: 10px;
  article{
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 15px;
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      height: 2px;
    }
  }
}

//文章工具
.post-tool{
  position: absolute;
  top:0;
  left: -95px;
}

.post-date{
  position: relative;
  width: 65px;
  height: 78px;
  text-align: center;
  margin-bottom: 10px;
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
  }
  span{
    display: block;
  }
  .date-month{
    height: 25px;
    line-height: 27px;
    font-size: 15px;
  }
  .date-day{
    height: 25px;
    line-height: 26px;
    font-size: 28px;
    font-weight: bold;
  }
  .date-year{
    height: 25px;
    line-height: 22px;
    font-size: 13px;
  }
}

.post-view,.post-edit{
  margin-bottom: 10px;
  min-width: 65px;
  height: 24px;
  line-height: 25px;
  padding: 0 2px;
  text-align: center;
  border-radius: 3px;
  .fa{
    margin-right: 5px;
  }
}

//文章书签
.post-top{
  position: absolute;
  bottom: -62px;
  left: 50%;
  width: 80px;
  height: 61px;
  margin-left: -40px;
}

//文章标题
.post-title{
  position: relative;
  min-height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  .state{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
  }
  a{
    font-size: 20px;
  }
  &::before{
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    bottom: 0;
    left: -11px;
    width: 3px;
    height: 100%;
  }
}

//阅读更多
.read_more{
  a{
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 7px 15px;
    border-radius: 15px;
  }
}

//文章mate
.post-meta{
  li{
    font-size: 13px;
    margin-right: 15px;
    .fa{
      line-height: 18px;
      margin-right: 5px;
    }
    a{
      margin-right: 5px;
    }
  }
  .meta-tabs{
    a::before{
      content: '#'
    }
  }
}

//文章版权
.post-copyright{
  text-align: center;
  margin-bottom: 15px;
  .post-copyright-inner{
    display: inline-block;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 3px;
  }
}

//相关文章
.post-related{
  margin-bottom: 20px;
  li{
    display: inline-block;
    width: ($container-w - 40px)/5;
    float: left;
    padding: 0 5px;
    .r_pic{
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 10px;
      height: ($container-w - 90px)/5;
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
    .r_title{
      a{
        display: inline-block;
        max-height: 33px;
        overflow: hidden;
      }
    }
  }
}

//文章布局
.post-wrap{
  .post-inner{
    margin-bottom: 15px;
    .post-left{
      position: relative;
      width: $featured-w;
      height: $featured-w;
    }

    .post-right {
      .post-content{
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}

//主页文章
.index-post{
  .post-right{
    padding-left: 10px;
  }
  .post-content{
    max-height: $featured-w;
    overflow: hidden;
  }
}

//特色图
.post-featured{
  height: $featured-w;
  border-radius: 3px;
  padding: 5px;
  a{
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    &::before{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all 0.3s;
    }
    &::after{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      font-family: FontAwesome;
      content: "\f06e";
      top: 50%;
      left: 50%;
      height: 36px;
      width: 40px;
      line-height: 36px;
      margin: -18px 0 0 -20px;
      text-align: center;
      font-size: 36px;
      color: rgba(255, 255, 255, 0.8);
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all 0.3s;
    }
    &:hover{
      &::before,&::after{
        visibility: visible;
        opacity: 1
      }
    }
  }
}

//置顶文章
.post-sticky{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 75px;
}

//文章分页
.posts-nav{
  .nav-inside{
    display: inline-block;
    .page-numbers{
      display: inline-block;
      float: left;
      position: relative;
      margin-left: -1px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

//ajax分页
.ias-trigger-next{
  a{
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
  }
}

.ias-noneleft{
  font-size: 14px;
  font-style: italic;
}

//评论审核
#awaiting_comments {
  position: fixed;
  top: 65px;
  right: 24px;
  z-index: 9999;
  max-width: 180px;
  _width: 130px;
  display: block;
  float: none;
  padding: 7px 12px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  .fa{
    margin-right: 7px;
  }
  a{
    color: #d32;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

#comments-title,#reply-title{
  position: relative;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  border-radius: 3px;
  padding-left: 10px;
  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    bottom: 0;
    left: -11px;
    width: 3px;
    height: 100%;
  }
}

//引用
blockquote {
  margin-left: 0;
  padding: 1rem 2rem;
}

//评论
#comment-nav-below{
  text-align: center;
  margin: 30px 0;
}

#commentform{
  position: relative;
  margin-bottom: 30px;
  input,textarea{
    -webkit-appearance: none;
    resize: none;
    &:focus{
      outline: none;
    }
  }
  label,.comment-notes{
    display: none;
  }
  .comment-form-author,.comment-form-email,.comment-form-url{
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 33.33%;
    float: left;
    margin-bottom: 15px;
    padding-right: 2%;
    &::before{
      position: absolute;
      font-family: FontAwesome;
      padding-left: 10px;
      height: 38px;
      line-height: 38px;
    }
    input{
      width: 100%;
      height: 36px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 5px 10px 5px 30px;
    }
  }

  .comment-form-url{
    margin-right: 0;
    padding-right: 0
  }

  .comment-form-author:before {
    content: "\f007";
  }

  .comment-form-email:before {
    content: "\f0e0";
  }

  .comment-form-url:before {
    content: "\f0ac";
  }

  .comment-form-comment{
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    #comment{
      width: 100%;
      padding-bottom: 40px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    #loading,#error{
      position: absolute;
      bottom: -20px;
    }
  }
  .commentPlus{
    position: absolute;
    z-index: 3;
    bottom: 5px;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
    .editor{
      display: inline-block;
      float: left;
      width: 36px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .form-submit{
    position: absolute;
    z-index: 3;
    margin: 0;
    right: 1px;
    bottom: 6px;
    display: inline-block;
    float: right;
    #submit {
      width: 100%;
      text-align: center;
      font-size: 14px;
      border-bottom-right-radius: 2px;
      cursor: pointer;
      height: 38px;
      line-height: 38px;
      display: block;
      padding: 0 20px;
      outline: 0;
    }
  }
  .comment-form-smilies{
    position: absolute !important;
    bottom: 35px;
    left: 10px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.9);
    a{
      display: inline-block;
      float: left;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin: 3px;
    }
  }
}

//下载盒子
.download-wrap{
  margin: 30px 0;
  padding: 0 15px;
  .post-download{
    border-radius: 5px;
    .dl-title,.dl-box > div,.dl-view{
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      i{
        margin-right: 5px;
      }
    }

    .dl-title{
      font-size: 14px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .dl-view{
	  display:none;
      color: red;
      border-bottom: none;
    }
  }
	.dlview .dl-box{
		display: none;
	}

	.dlview .dl-view{
		display: block;
	}
}

//评论展示
.commentlist {
  .comment {
    .children{
      padding-left: 15px;
    }
    .success_tip{
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}

.comment-block{
  margin-bottom: 25px;
  border-radius: 3px;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  .comment-header{
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .author-img{
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
      img{
        border-radius: 3px;
      }
    }
    .author-name{

    }
    .comment-count{

    }
  }
  .comment-body{
    min-height: 50px;
    padding: 15px;
    font-size: 13px;
    line-height: 2
  }
  .comment-bottom{
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    span{
      margin-right: 10px;
    }
  }
}

//侧边栏
#sidebar{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: $sidebar-w;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform:translateX($sidebar-w - 25px);
  transform:translateX($sidebar-w - 25px);
  -webkit-transition:all .4s ease;
  transition:all .4s ease;
  &.open{
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
  .sideinner{
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: $sidebar-w + 25px;
    padding: 15px 15px 15px 35px;
  }
  .sidectrl{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 25px;
    cursor: pointer;
  }
}

.sidebar-content{
  aside{
    margin-bottom: 20px;
    .widget-title{
      font-size: 18px;
      margin-top: 0;
    }
  }
  ul{
    li{

    }
  }
  a{

  }
}

//登陆弹窗
.login-modal{
  #login-form{
    margin-top: 30px;
  }
  p{
    position: relative;
    margin: 0 60px 20px;
    text-align: center;
    label{
      display: none;
    }
    input{
      width: 100%;
      height: 35px;
      line-height: 35px;
      padding: 0 0 0 30px;
      border-radius: 3px;
    }
    #wp-submit{
      padding: 0;
      cursor: pointer;
    }
  }
  .login-username:before {
    content: "\f007";
    position: absolute;
    top: 7px;
    left: 6px;
    font-family: FontAwesome;
    font-size: 15px;
    margin-left: 4px;
  }

  .login-password:before {
    content: "\f023";
    position: absolute;
    top: 7px;
    left: 6px;
    font-family: FontAwesome;
    font-size: 15px;
    margin-left: 4px;
  }
}

.download-modal{
  .modal-body{
    padding-top: 60px;
  }
  .dl-btn{
    a{
     font-size: 16px;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 0.25em;
     margin-bottom: 20px;
     .fa{
       margin-right: 5px;
     }
   }
  }
  .dl-tqcode{

  }
}

//文章索引
#article-index{
  display: none;
  position: fixed;
  z-index: 1;
  top: 30px;
  right: 50%;
  margin-right: -120px - $container-w / 2;
  #index-ul{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      left: -10px;
      top: 0;
      bottom: 0;
      width: 2px;
      height: 100%;
      background: #4a443d;
      border-radius: 3px;
    }
    li{
      position: relative;
      height: 25px;
      line-height: 25px;
      padding: 2px 0;
      font-size: 13px;
      a{
        color: #bfb7a3;
        text-shadow: 0px 1px 0px #4a443d;
        width: 100px;
        &:hover{
          color: #d6d1c4
        }
      }
      &::before{
        position: absolute;
        content: '';
        left: -12px;
        top: 10px;
        bottom: 0;
        width: 6px;
        height: 6px;
        background: #bdb6a1;
        border: 1px solid #4a443d;
        border-radius: 6px;
      }
    }

  }
}

//底部按钮
#footer-btn{
  display: none;
  position: fixed;
  width: 100px;
  z-index: 3;
  bottom: 50px;
  right: 50%;
  margin-right: -120px - $container-w / 2;
  ul{
    .item{
      position: relative;
      cursor: pointer;
      color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 10px;
      .show-box{
        position: absolute;
        bottom: 0;
        left: 40px;
        padding-left: 5px;
        display: none;
      }
      .show-box-inner{
        width: 120px;
        padding: 5px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.5)
      }
      & > a{
        opacity: .3;
        color: #fff;
        background: #000;
        border-radius: 3px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
      }
      &:hover{
        & > a{
          opacity: .7;
        }
        .show-box{
          display: block;
        }
      }
      .qr-box{
        height: 120px;
      }
      .bdsharebuttonbox{
        a{
          padding-left: 20px;
          color: #beb7a1;
        }
      }
    }
  }
}

//页脚
#footer{
  position: relative;
  z-index: 2;
  margin-top: 100px;
  .footer-inner{
    position: relative;
    font-size: 13px;
    padding: 30px 0 80px;
    &::before{
      position: absolute;
      top: -8px;
      left: 0;
      right: 0;
      content: '';
      height: 8px;
    }
  }
  .footer-end{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 14px;
    height: 51px;
    line-height: 51px;
  }
}
