@charset "UTF-8";
/* queries */
@media only screen and (max-width:$container-w + 30px) {
  .m_hide{
    display: none !important;
  }
  .m_show{
    display: block !important;
  }
  .container{
    width: 100%;
  }
  #content{
    margin-top: 55px;
    .container {
     border: none!important;
     background-color: transparent !important;
     background-image: none !important;
   }
  }
  .app_slider{
    margin: 10px;
    .slider_inner{
      height: auto !important;
      min-height: 50px;
    }
  }
  .link_box .blogroll li{
    width: 50%;
  }
  .grids .grid-item{
    width: 100%;
  }
  #commentform .comment-form-author, #commentform .comment-form-email, #commentform .comment-form-url{
    width: 100%;
    padding-right: 0;
  }
  .title-inner{
    &::before,&::after{
      display: none;
    }
  }
}
