@charset "UTF-8";
/* skin */

//body
body{
  background: #6e655a url('images/skin/body.png') fixed;
}

#header{
  background: #403c36 url('images/skin/banner.png');
}

.topbar{
  background: url('images/skin/topbar.png') repeat-x;
  .skin{
    a{
      background: #3f3c35;
    }
  }
  #searchform input{
   color: #867d73;
   background: #3f3c35;
 }
 .login-btn{
   color: #6b6258;
   background: #3f3c35;
 }
}

.topmenu{
  background: url('images/skin/topMenu.png') repeat-x;
  a{
    color: #e6e2d4;
    &:hover{
      color: #fff;
    }
  }
}

.logo a{
  background: url('images/skin/logo.png') no-repeat center center;
}
