@charset "UTF-8";
/* skin */

//body
body{
  color: #524638;
  background: #6e655a url('images/skin/body.png') fixed;
}

//默认链接色
a{
  color: #862525;
  &:hover,&:focus{
    color: #3c362f;
  }
}

#header{
  background: #403c36 url('images/skin/banner.png');
}

.topbar{
  background: url('images/skin/topbar.png') repeat-x;
  .skin{
    a{
      background: #3f3c35;
    }
  }
  #searchform input{
   color: #867d73;
   background: #3f3c35;
 }

 .login-btn{
   color: #3e3a34;
   text-shadow: 0px 1px 0px #6d6963;
 }
 .admin-box{
   background: #3f3c35;
   a{
     color: #716d68;
     &:hover{
       color: #96928c;
     }
   }
 }
}

.topmenu{
  background: url('images/skin/topMenu.png') repeat-x;
  li{
    &::before{
      background: url('images/skin/menu-after.png') no-repeat center center;
    }
  }
  a{
    color: #e6e2d4;
    &:hover{
      color: #fff;
    }
  }
}

.sub-menu{
  background: url('images/skin/submenu-bg.png') repeat-y;
  li{
    a{
      color: #796e5f;
      text-shadow: none !important;
      border-top: 1px solid #edeee6;
      border-bottom: 1px solid #cdd1bb;
      &:hover{
        color: #716049;
        background: #cdd1bb;
      }
    }
  }
  &::before{
    background: url('images/skin/submenu-before.png') no-repeat center center;
  }
  &::after{
    background: url('images/skin/submenu-after.png') no-repeat center center;
  }
}

.logo a{
  background: url('images/skin/logo.png') no-repeat center center;
}

#content{
  .container{
    background: #645a4c url('images/skin/content.png');
    border: 1px solid #50483e
  }
  .content-inner{
    background: #c3bca6 url('images/skin/content-inner.png');
    border: 1px solid #dfdbd0;
    box-shadow: 0px 0px 1px #564c40;
  }
}

.mianmenu{
  background: #13a6ac url('images/skin/mainMenu.png') repeat-x;
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &::before{
    background: url('images/skin/mainMenu-l.png') no-repeat center center;
  }
  &::after{
    background: url('images/skin/mainMenu-r.png') no-repeat center center;
  }
  .menu-wrapper{
    &::before,&::after{
      background: url('images/skin/mainMenu-dot.png') no-repeat center center;
    }
  }
}

.app_slider,.post-featured,.r_pic,.cs_widget_slider{
  background: #938975;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.post-date{
  color: #908b6b;
  text-shadow: 0px 1px 1px #fff;
  background: url('images/skin/post-time.png') no-repeat center center;
  &::before{
    background: url('images/skin/post-time-over.png') no-repeat center center;
  }
}

.post-view,.post-edit{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
  a{
    color: #908575;
  }
  &:hover{
    a{
      color: #b7aa98;
    }
    background: rgba(0, 0, 0, 0.5);
  }
}

.post-featured{
  a{
    background: url('images/skin/featured.png') no-repeat center center;
  }
}

.post-related{
  img{
    background: url('images/skin/featured.png') no-repeat center center;
  }
}

.avatar{
  background: url('images/default/d-avatar.jpg') no-repeat center center;
  background-size: cover;
}

.post-sticky{
  background: url('images/skin/sticky.png') no-repeat center center;
  background-size: contain;
}


article{
  .post-title{
    background: #b3ac97;
    a{
      color: #524638;
      text-shadow: 0px 1px 0px #d4d0c4;
      &:hover{
        color: #3c362f;
      }
    }
    &::before{
      background: #a50d0f;
    }
  }
  .post-content{
    color: #524638;
    p{
      text-shadow: 0px 1px 0px #d4d0c4;
    }
  }
  &::after{
    border-top: 1px dashed #837c72;
    border-bottom: 1px dashed #dad3be;
  }
}

.post-top{
  background: url('images/skin/post-top.png') no-repeat center center;
}

.state{
  color: #524638;
  text-shadow: 0px 1px 0px #d4d0c4;
}

.post-meta{
  color: #7b7266;
  text-shadow: 0px 1px 0px #d4d0c4;
    a{
      color: #7b7266;
      &:hover{
        color: #585249;
      }
    }
}

.post-copyright{
  color: #7b7266;
    a{
      color: #7b7266;
      &:hover{
        color: #585249;
      }
    }
    .post-copyright-inner{

    }
}

.post-related{
  a{
    color: #524638;
    &:hover{
      color: #3a2e21;
    }
  }
}

.jm-post-like.liked{
  color: #a50d0f
}

.read_more{
  a{
    color: #70675c;
    background: #b3ac97;
    &:hover{
      background: #a29b84;
    }
    &::after{
      font-family: FontAwesome;
      content: "\f101";
      margin-left: 5px;
    }
  }
}

.page-numbers,.ias-trigger-next a{
  color: #544e47;
  background: #cfccbf;
  border: 1px solid #6f665c;
  &:hover,&.current{
    background: #e0dfda;
  }
}

.ias-noneleft{
  color: #6d655a
}

.archive-title .title-inner ,.link_box li h2{
    color: #524638;
    text-shadow: 0px 1px 0px #d4d0c4;
    &::before,&::after{
      border-top: 1px solid #837c72;
      border-bottom: 1px solid #dad3be;
    }
}

#comments-title,#reply-title{
  color: #524638;
  text-shadow: 0px 1px 0px #d4d0c4;
  background: #b3ac97;
  &::before {
     background: #a50d0f;
  }
}

#commentform{
  .fa,.comment-form-author,.comment-form-email,.comment-form-url{
    &::before{
      color: #6b6257;
    }
    &:hover{
      &::before{
        color: #000;
      }
    }
  }
  input[type="text"],textarea{
    background: #efede7;
    border: 1px solid #938975;
    color: #867f6f;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .commentPlus{
    border: 1px solid #938975;
    background: #efede7
  }
  input[type=submit]{
    border: 1px solid #00a1d6;
    color: #fff;
    background: #00a1d6;
    &:hover{
      color: #fff;
      background: #008ebd;
    }
  }
}

#footer{
  .footer-inner{
    background: #7a6e5f url('images/skin/footer.png');
    &::before{
      background: url('images/skin/footer-before.png') repeat-x;
    }
  }
  .footer-text{
    color: #dedacf;
    text-shadow: 0px 1px 0px #4e463e;
  }
  .footer-end{
    color: #aba58f;
    text-shadow: 0px 1px 0px #4e463e;
    a{
      color: #aba58f;
      &:hover{
        color: #dedacf;
      }
    }
    background: url('images/skin/footer-end.png') repeat-x;
  }
}

blockquote {
  border-left: 0.2rem solid #8e3e3e;
  background: #b3ac97;
}

.post-download{
  border: 1px solid #837c72;
  .dl-title{
    background: #b3ac97;
  }
  .dl-item{
    border-bottom: 1px solid #837c72;
  }
}

.comment-block{
  background: #ded9c8;
  .comment-header{
    border-bottom: 1px dashed #b3ac97;
    .comment-count{
      color: #968c7e;
    }
  }
  .comment-body{
    color: #6c6359;
    border-top: 1px dashed #e8e6dd;
    border-bottom: 1px dashed #b3ac97;
  }
  .comment-bottom{
    border-top: 1px dashed #e8e6dd;
    a{
      color: #968c7e;
    }
  }
}

#sidebar{
  color: #524638;
  text-shadow: 0px 1px 0px #d4d0c4;
  background: #c3bca6 url("images/skin/content-inner.png");
  border-left: 1px solid #d4ccb6;
  .widget-title{
    background: #b3ac97;
    &::before{
      background: #a50d0f;
    }
  }
  .sidebar-ctrl{
    background: #b3ac97;
    span{
      background: #dddacb;
    }
  }
  ul{
    li{
      border-bottom: 1px dashed #938975;
    }
  }
  a{
    color: #524638;
    &:hover {
      color: #524638;
    }
  }
}

.widget_tag_cloud .tagcloud a {
  border: 1px solid #837c72;
}

.widget_search fieldset .search-form-input{
  background: #ece8de;
  border: 1px solid #a9a18d;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075)
}

.modal-container{
  background: #cac4b1;
  .modal-header{
    border-top: 2px solid #a05508;
    border-bottom: 1px solid #b3ab93;
    .modal-close {
      color: #8a826b;
      &:hover{
        color: #67614e;
      }
    }
  }
  .modal-body{
    height: 220px;
    border-top: 1px solid #dcd5c2;
    border-bottom: 1px solid #b3ab93;
  }
  .modal-bottom{
    border-top: 1px solid #dcd5c2;
    color: #8a826b;
    a{
      color: #8a826b;
      &:hover{
        color: #67614e;
      }
    }
  }
}

.login-modal{
  p{
    input{
      background: #efeadd;
      border: 1px solid #b3ab93;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    }
    #wp-submit{
      color: #fff;
      border: 1px solid #00a1d6;
      background: #00a1d6;
      box-shadow:none;
      &:hover{
        background: #008ebd;
      }
    }
  }
  .login-username:before,.login-password:before {
    color: #8a826b;
  }
}

.dl-btn{
  a{
    color: #fff;
    border: 1px solid #00a1d6;
    background: #00a1d6;
    box-shadow:none;
    &:hover{
      background: #008ebd;
    }
 }
}

.blogroll{
  text-shadow: 0px 1px 0px #d4d0c4;
  a{
    color: #524638;
    &:hover {
      color: #524638;
    }
  }
}

.readers-list{
  .readers-inner{
    color: #524638;
    text-shadow: 0px 1px 0px #d4d0c4;
    background: #b3ac97;
    .name{
      border-bottom: 1px solid #a79e86;
    }
  }
}
