@charset "UTF-8";
/* skin */

//body
body{
  background: #6e655a url('images/skin/body.png') fixed;
}

#header{
  background: #403c36 url('images/skin/banner.png');
}

.topbar{
  background: url('images/skin/topbar.png') repeat-x;
  .skin{
    a{
      background: #3f3c35;
    }
  }
  #searchform input{
   color: #867d73;
   background: #3f3c35;
 }

 .login-btn{
   color: #3e3a34;
   text-shadow: 0px 1px 0px #6d6963;
 }
 .admin-box{
   background: #3f3c35;
   a{
     color: #716d68;
     &:hover{
       color: #96928c;
     }
   }
 }
}

.topmenu{
  background: url('images/skin/topMenu.png') repeat-x;
  li{
    &::before{
      background: url('images/skin/menu-after.png') no-repeat center center;
    }
  }
  a{
    color: #e6e2d4;
    &:hover{
      color: #fff;
    }
  }
}

.sub-menu{
  background: url('images/skin/submenu-bg.png') repeat-y;
  li{
    a{
      color: #796e5f;
      text-shadow: none !important;
      border-top: 1px solid #edeee6;
      border-bottom: 1px solid #cdd1bb;
      &:hover{
        color: #716049;
        background: #cdd1bb;
      }
    }
  }
  &::before{
    background: url('images/skin/submenu-before.png') no-repeat center center;
  }
  &::after{
    background: url('images/skin/submenu-after.png') no-repeat center center;
  }
}

.logo a{
  background: url('images/skin/logo.png') no-repeat center center;
}

#content{
  .container{
    background: #645a4c url('images/skin/content.png');
    border: 1px solid #50483e
  }
  .content-inner{
    background: #c3bca6 url('images/skin/content-inner.png');
    border: 1px solid #dfdbd0;
    box-shadow: 0px 0px 1px #564c40;
  }
}

.mianmenu{
  background: #13a6ac url('images/skin/mainMenu.png') repeat-x;
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  &::before{
    background: url('images/skin/mainMenu-l.png') no-repeat center center;
  }
  &::after{
    background: url('images/skin/mainMenu-r.png') no-repeat center center;
  }
  .menu-wrapper{
    &::before,&::after{
      background: url('images/skin/mainMenu-dot.png') no-repeat center center;
    }
  }
}

.app_slider,.post-featured{
  background: #938975;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.post-date{
  color: #908b6b;
  text-shadow: 0px 1px 1px #fff;
  background: url('images/skin/post-time.png') no-repeat center center;
  &::before{
    background: url('images/skin/post-time-over.png') no-repeat center center;
  }
}

.post-view,.post-edit{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
  a{
    color: #908575;
  }
  &:hover{
    a{
      color: #b7aa98;
    }
    background: rgba(0, 0, 0, 0.5);
  }
}

.post-featured{
  a{
    background: url('images/skin/featured.png') no-repeat center center;
  }
}

.post-sticky{
  background: url('images/skin/sticky.png') no-repeat center center;
  background-size: contain;
}


article{
  .post-title{
    background: #b3ac97;
    a{
      color: #524638;
      text-shadow: 0px 1px 0px #d4d0c4;
      &:hover{
        color: #3c362f;
      }
    }
    &::before{
      background: #a50d0f;
    }
  }
  .post-content{
    color: #524638;
    p{
      text-shadow: 0px 1px 0px #d4d0c4;
    }
  }
  &::after{
    border-top: 1px dashed #837c72;
    border-bottom: 1px dashed #dad3be;
  }
}

.post-top{
  background: url('images/skin/post-top.png') no-repeat center center;
}

.state{
  color: #524638;
  text-shadow: 0px 1px 0px #d4d0c4;
}

.post-meta{
  color: #696156;
    a{
      color: #696156;
      &:hover{
        color: #000;
      }
    }
}

.jm-post-like.liked{
  color: #a50d0f
}

.read_more{
  a{
    color: #70675c;
    background: #b3ac97;
    &:hover{
      background: #a29b84;
    }
    &::after{
      font-family: FontAwesome;
      content: "\f101";
      margin-left: 5px;
    }
  }
}

.page-numbers,.ias-trigger-next a{
  color: #544e47;
  background: #cfccbf;
  border: 1px solid #6f665c;
  &:hover,&.current{
    background: #e0dfda;
  }
}

.ias-noneleft{
  color: #6d655a
}

#footer{
  .footer-inner{
    background: #7a6e5f url('images/skin/footer.png');
    &::before{
      background: url('images/skin/footer-before.png') repeat-x;
    }
  }
  .footer-text{
    color: #dedacf;
    text-shadow: 0px 1px 0px #4e463e;
  }
  .footer-end{
    color: #aba58f;
    text-shadow: 0px 1px 0px #4e463e;
    a{
      color: #aba58f;
      &:hover{
        color: #dedacf;
      }
    }
    background: url('images/skin/footer-end.png') repeat-x;
  }
}


.cd-user-modal-container{
  background: #c3bca6 url('images/skin/content-inner.png');
}
