@charset "UTF-8";
/* 酷黑 */
@import 'mixin';
$skin: black;
$logo-w: 230px;

body {
    color: #a0a0a0;
    background-color: #212121;
    background-attachment: fixed;
    @include retina('body', $skin, 145px);
}

a {
    color: #b1a390;
    &:focus,
    &:hover {
        color: #d4b080;
    }
}

#header {
    background-color: #191818;
    @include retina('banner', $skin, 100px);
}

#m-header {
    background-color: #191818;
    @include retina('banner', $skin, 100px);
    border-bottom: 1px solid #000;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    a {
        color: #a5a5a5;
        &:hover {
            color: #dcdcdc;
        }
    }
}

#m-menu {
    background-color: #191818;
    @include retina('banner', $skin, 100px);
    border-left: 1px solid #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    a {
        color: #a5a5a5;
        &:hover {
            color: #dcdcdc;
        }
    }
}

.menu-tab {
    border-bottom: 1px solid #2b2b2b;
    .menu-tab-item {
        border-right: 1px solid #2b2b2b;
        &.current {
            background: #060606;
        }
    }
}

.menu-content {
    li {
        a {
            border-bottom: 1px solid #2b2b2b;
        }
    }
}

.topbar {
    @include retina('topbar', $skin, 50px);
    background-repeat: repeat-x;
    #searchform input {
        color: #6d6d6d;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .login-btn {
        color: #000;
        text-shadow: 0 1px 0 #636363;
    }
    .admin-box {
        background: rgba(0, 0, 0, 0.3);
        a {
            color: #6b6b6b;
            &:hover {
                color: #dcdcdc;
            }
        }
    }
}

.qr-pay {
    .qr-btn {
        background: #ee562e;
        background: -webkit-gradient(linear, left top, left bottom, from(#f6ae53), to(#ee562e));
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid #310b00;
    }
    .qr-img {
        background: #3c3c3c;
        box-shadow: 0 0 5px 0 rgba(18, 18, 18, 0.35);
        &::before {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 7px solid #3c3c3c;
        }
    }
}
